$mainBcg_color:#dfe6e9;
$palePurple_color:#a29bfe;
$purple_color:rgb(108, 92, 231);
$grayBtn_color:rgb(220, 220, 220);
$footer_color:rgba(108, 92, 231, 0.5);
// $shadowSell:rgb(0 0 0 / 24%);
$buttonPurple_color:rgb(162, 155, 254);